.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 12rem;
}

.tile {
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .section {
    grid-template-columns: repeat(4, 1fr);
    height: 16rem;
  }
}

@media (min-width: 992px) {
  .section {
    grid-template-columns: repeat(6, 1fr);
  }
}
